<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome/css/font-awesome.min.css') }}">
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__logo"><a href="http://127.0.0.1:5000/">LOGOTYPE</a></div>
                <div class="search">
                    <input type="text" placeholder="Поиск" class="input__header"/>
                    <ul class="input__menu">

                        {% for elem in film_recommendations %}
                        <li class="input__menu__item">
                            {{ elem.title }}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="header__profile__wrap">
                <div class="header__profile">
                    <div class="header__profile__nickname">Иван</div>
                    <div class="header__profile__icon"><img src="{{ url_for('static', filename='styles/icons/accountHeader.png') }}" alt=""></div>
                    <div class="header__profile__arrow"><i class="fa fa-caret-down fa-1x menu-icon" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="recommendations">
            <span>Может быть, Вам будет интересно</span>
            <div class="recommendations__wrap">
                <div class="slider">

                    {% for film in film_recommendations %}
                    {% if loop.index <= 6 %}       
                    <div class="slider__item slider__item_active">          
                    {% else %}
                    <div class="slider__item">                         
                    {% endif %}
                        <div class="slider__item__info">
                            <div class="slider__item__info__title">
                                {{ film['title'] }}
                            </div>
                            <div class="slider__item__info__genre">
                                {{ film['genres'] }}
                            </div>             
                        </div>
                        <div class="slider__item__rating">
                            {{ film['rating'] }}  
                        </div>
                    </div>
                    {% endfor %}   

                </div>
                <div class="slider__button-left">
                    <button><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                </div>
                <div class="slider__button-right">
                    <button><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="movies">
            <div class="sidebar">
                <div class="account">
                    <div class="account__wrap">
                        <div class="account__icon">
                            <img src="{{ url_for('static', filename='./styles/icons/account.png') }}" alt="">
                        </div>
                        <div class="account__data">
                            <div class="account__data__initials"><span>Иван Иванов</span></div>
                            <div class="account__data__login"><span>@user123</span></div>
                        </div>                        
                    </div>
                    <div class="account__info">
                        <div class="watched"><span>Всего просмотрено: 400</span></div>
                        <div class="liked"><span>Понравившиеся фильмы: 231</span></div>
                        <div class="fulltime"><span>Общее время просмотра: 200ч</span></div>
                    </div>
                </div>
                <div class="settings">
                    <div class="menu">
                        <div class="menu__title"><span>Жанры</span></div>
                        <div class="menu__button">
                            <span>Все жанры</span>
                            <i class="fa fa-caret-down fa-1x menu-icon" aria-hidden="true"></i>
                        </div>
                        <ul class="menu__list">

                            {% for genre in genres %}
                            <li class="menu__list__item">{{ genre }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="types">
                        
                        <!-- <form class='settings__form'>
                            <button class="types__item" name="films">
                                Фильмы
                            </button>
                        </form>
                        <form class='settings__form'>
                            <button class="types__item" name="films">
                                Сериалы
                            </button>
                        </form>
                        <button class="types__item">Фильмы</button>
                        <button class="types__item">Сериалы</button>
                        <button class="types__item">Российские</button>
                        <button class="types__item">Зарубежные</button>
                        <button class="types__item">С высоким рейтингом</button> -->
                        <form class='settings__form' method="post">
                            <label for="genre">Genre</label>
                            <input type="genre" name='genre'>
                            <button>Отправить</button>
                        </form>
                    </div>          
                    <div class="settings__extended-button">
                        <button>
                            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list" id="root">

                {% if film_list %}
                {% for film in film_list %}
                <div class="list__item">
                    <div class="list__item__image">
                        {{ film[0] }}
                    </div>
                    <div class="list__item__title">
                        {{ film[1] }}
                    </div>
                    <div class="list__item__original-title">
                        {{ film[2] }}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="list__item__empty">
                    Список фильмов пуст.
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal__window">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit unde consequatur quisquam voluptates tempore, non eius consequuntur mollitia aspernatur recusandae sint beatae harum officiis dolorum ipsum possimus natus delectus magni.
            <button class="modal__close-button">Закрыть</button>
        </div>
    </div>
</body>
</html>